VITE_BACKEND_API_URL=/api/v1
VITE_DISCORD_REDIRECT_URI=http://localhost:8081/DiscordSignin
VITE_CLIENT_ID=your_discord_client_id
VITE_TERMS_OF_USE_URL=your_terms_of_use_url
VITE_PRIVACY_POLICY_URL=your_privacy_policy_url